# Credenciales y configuración AWS
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN
AWS_REGION
AWS_GLUE_ROLE_ARN

# Configuración S3
S3_BUCKET_NAME

# Configuración para que AWS CREÉ el RDS
RDS_INSTANCE_ID
RDS_DB_NAME
RDS_USER
RDS_PASSWORD

# Configuración Kafka
KAFKA_BOOTSTRAP_SERVERS
KAFKA_TOPIC

# Configuración MongoDB
MONGO_DATABASE
MONGO_COLLECTION
MONGO_URI