# Byte-compiled / optimized / DLL support
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Project Specific Data and Logs
datasets/raw/
datasets/processed/
models/
logs/
*.pkl
*.pkt
*.log